{% extends "network/layout.html" %}

{% block body %}
    <h1>{{ title }}</h1>
    {% if user.is_authenticated %}
        <div class="mb-3" id="new_post">
            <h4>New Post</h4>
            <form id="new_post_form" action="{% url 'post' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <textarea name="text" class="form-control" id="new_post_text" maxlength="280"></textarea>
                </div>
                <input type="submit" class="btn btn-primary btn-sm">
            </form>
        </div>
    {% endif %}

    {% include "network/posts.html" %}
    
    <hr>
{% endblock %}